/* varibale  */


:root{
    /* colors */
    --darkBlue_1: #3B447A;
    --darkBlue_2: #222B5F;
    --darkBlue_3: #0A0F19;
    --darkBlue_4: #101826;
    --mediumSlateBlue: #6C62E2;
    --lightBlue_1: #F3F1FE;
    --lightBlue_2: #ADBDE3;
    --white: #FFFFFF;
    --black: #000000;
    /* others */
      --header-height: 50px;
  }

/* ===================================logo */
.logo{
   font-size: 3rem;
}
.logo__name{
    font-size: 2rem;
}

/* ======================== header ==================== */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--lightBlue_1);
    border-bottom: 1px solid var(--mediumSlateBlue);
    
}

.navigation__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

nav ul li{
    display: inline-block;
    margin: 0 0.5rem;
    
}

nav ul li a{
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--darkBlue_2);
}

nav ul li a:hover{
    text-decoration: underline;
}